.language {
	box-sizing: border-box;
	margin: 0;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.line {
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	width: 90%;
	height: 2px;
	background-color: var(--bg-color);
}


.wrapperLanguage {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 30px;
}

.wrapperImg {
	box-sizing: border-box;
	margin: 0;
	width: 40px;
	height: 40px;
	margin-left: 5px;
}

.img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.wrapperItems {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title, .languageTitle {
	color: var(--light-color);
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
}

.subTitle {
	color: var(--gray-color);
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

@media screen and (max-width: 330px) {
	.language {
		padding: 0;
	}
	.line {
		margin-top: 30px;
	}
}