:root {
	--font: 'Roboto Condensed', sans-serif;
	--bg-color: #232339;
	--bg-color-light: #2E2E48;
	--light-color: #E2E6EE;
	--lighter-color: #D9DFE8;
	--gray-color: #ACB1C3;


	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


body {
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	background-color: var(--bg-color-light);
}
